.page-container{

    padding:40px;

}

.page-header{

    margin-bottom:30px;

}

.page-header h1{

    color:#0B1F3A;

    margin-bottom:10px;

}

.page-header p{

    color:#64748B;

}

.table-container{

    background:white;

    border-radius:20px;

    overflow:hidden;

    box-shadow:
        0 10px 25px rgba(0,0,0,.08);

}

.customers-table{

    width:100%;

    border-collapse:collapse;

}

.customers-table th{

    background:#1E4E79;

    color:white;

    padding:18px;

    text-align:left;

}

.customers-table td{

    padding:18px;

    border-bottom:
        1px solid #e5e7eb;

}

.customers-table tr:hover{

    background:#f8fafc;

}